@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-image:url(../images/bg.png);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;}
	a{
		text-decoration:none;}
		.navigation{
			margin:40px 50px;
			display:flex;
			justify-content:space-between;
			}
			.logo a{
				font-family:bebas kai;
				color:#ececec;
				font-size:30px;
				}
				.bar1,.bar2,.bar3{
					margin:5px 0px;
					background-color:#FFFFFF;
					border-radius:20px;
					height:3px;}
					.bar1{
						width:10px;}
						.bar2{
						width:20px;}
						.bar3{
						width:35px;}
						.bars{
							transform:rotate(180deg);}
						
.modal{
	height:600px;
	position:absolute;
	left:55%;
	bottom:0px;
	transform:translateX(-55%);}
	h1,h2{
		color:#FFFFFF;
		font-family:bebas kai;
		letter-spacing:2px;
		line-height:0px;
		}
		h1{
			font-size:130px;}
			h2{
				font-size:80px;}
				.button-container{
					position:absolute;
					right:12%;
					text-align:center;}
					.button{
						border:5px solid #23303d;
						border-radius:50%;
						width:80PX;
						height:70px;
						padding:10px 5px;
						margin:20px;
						display:flex;
						align-items:center;
						justify-content:center;
						}
						.button img{
							height:30px;
							margin-left:8px;
							margin-top:3px;}
							.container{
								margin:0px 90px;
								display:flex;
								align-items:center;
								justify-content:space-between;
								height:80vh;
								position:relative;}
								.text-container{
									position:absolute;}
									.play-text{
										color:#bbb9b9;
										font-family:myriad pro;
										font-size:22px;}
		.button:hover{
			background-color:rgba(12,14,26,1.00);
			transition:all ease 0.5s;
			box-shadow:2px 2px 12px rgba(255,255,255,0.20);}
			.left,.right{
				color:#f0f0f0;
				font-size:14px;
				position:absolute;
				font-family:myriad pro;
				top:50%;
				transform:translateY(-50%);
				transform:rotate(90deg);
				}
				.left{
					left:-20px;}
					.right{
						right:-20px;}
						.social {
							position:absolute;
							bottom:30px;
							right:40px;}
							.social img{
								height:17px;}
								.social a{
									margin:0px 10px;}
		.bottom-left{
			position:absolute;
			bottom:10px;
			left:50px;
			display:flex;
			align-items:center;}
			.bottom-left h1{
				color:#f2125b;
				margin-right:5px;
				font-size:70px;}
				.line{
					width:130px;
					height:4px;
					background-color:#FFFFFF;
					border-radius:10px;
					}